*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.ear
*.data

# Can ignore specific files
.DS_Store
stanford-corenlp-3.6.0-models.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/


# Can also ignore all directories and files in a directory.
/target/
